<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_welcum">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db invest_db">
        		<section class="bread_top_sec">
        			<div class="db_container">
            			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
            				<div class="sid_controlr">
            					<i class="clos_sid fa fa-bars"></i>
            					<!-- <i class="opn_sid fa fa-times"></i> -->
            				</div>
	            			<h3>Welcome Letter</h3>
	            			<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item active">Welcome Letter</li>
								</ol>
							</nav> -->
	            		</div>
	            	</div>
        		</section>
        		<div class="marg_over_bread">
            		<section class="wlcm_letr_sec p-0">
            			<div class="db_container">
            				<div class="row">
	            				<div class="col-sm-12">
		            				<div class="card">
		            					<div class="card-body">
			            					<!-- <div class="card_ttl">
			            						<h3>Welcome Letter</h3>
											</div> -->
											<form class="formm">
												<div class="row">													
													<div class="col-sm-12">
														<div class="form-group float-right">
															<a href="javascript:;" (click)="goBack()" class="btn btn_theme">Back</a>
														</div>
													</div>
												</div>
											</form>
		            						<div class="welcom_letter_wrp">
		            							<div class="letr_head_logo">
		            								<img src="assets/img/logo.png" class="img-fluid">
		            							</div>
		            							<small class="dat_wlcm">{{ current_date }}</small>
												<h6>
													Welcome Letter {{ DisclosureName }}
												</h6>
												<div class="wrp_wlcm_para_li">
													<p>We welcome you to the Five Two Investment family. We thank you for your business and would like to confirm that the following investments have been placed under our care:</p>
													<ul type="none" *ngFor="let ele of products;let ind = index">
														<!-- <li>1. Investec Bond - Unit Trust(52.........)</li> -->
														<li>{{ ind + 1 }}. {{ ele.category }}</li>
														<li>Inception Date: {{ ele.obj.inception_date }}</li>
														<li>Intial Deposit: R {{ formatAmount(ele.obj.dealAttribute_balance_single ? ele.obj.dealAttribute_balance_single.net_amount : 0)  }}</li>
														
													</ul>
													<p>Fund Allocation: </p>
													<ul type="none">		

														<li *ngFor="let item of totalClientValue" class="d-flex justify-content-between">
															<!-- <span class="wid_two">{{ showYear(item) }}</span>
															<span class="wid_two">{{ getPercentageTotalValue(item.totalAmount) }}%</span>
															<span>R {{ formatAmount(item.totalAmount)}}<br> {{ item.product_name }} </span> -->
															<span *ngIf="item.totalAmount > 0">{{ getPercentageTotalValue(item.totalAmount) }}% {{ item.product_name }}</span>
															
															
														</li>  
													
													</ul>
													<p>Please take note of the risk profiler completed, as your investments have their fund allocation based on your needs. Therefore, please keep us informed on major changes in your life that could possibly affect this, in order for us to make the necessary changes.</p>
													<p>Note: As discussed, we have an annual fee of 1% +vat and an upfront fee of 1% +vat on all investments managed by Five Two Investments.</p><br>
													<p>Past performance is not an indication of future performance.</p>
													<p>Please scrutinize your policy schedule and inform us of any incorrect information.</p>
												</div>
											</div>
											<div style="text-align: center;" (click)="sendWelcomeLetter()">
												<button class="btn btn_theme">

													{{ send_letter_message }}

												</button>
												<!-- &nbsp;&nbsp;
												<button class="btn btn_theme">

													Send Confirmation Letter

												</button> -->

											</div>
												
		            					</div>
		            				</div>
		            			</div>
		            		</div>
            			</div>
            		</section>
            	</div>
        	</div>
        	<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
        	</div>
        </div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>