<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_investmnt">
		<div class="combine_sidenav_right_db d-flex">
			<div class="main_right_db invest_db">
				<section class="bread_top_sec">
					<div class="db_container">
						<div class="d-flex justify-content-between align-items-center text-white pos_rel">
							<div class="sid_controlr">
								<i class="clos_sid fa fa-bars"></i>
								<!-- <i class="opn_sid fa fa-times"></i> -->
							</div>
							<h3>Lead List</h3>
							<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item active">Lead List</li>
								</ol>
							</nav> -->
						</div>
					</div>
				</section>
				<div class="marg_over_bread">
					<section class="p-0 top_filter_sec">
						<div class="db_container">
							<div class="card">
								<div class="card-body">
									<form class="formm">
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<input [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
														type="" class="form-control" name=""
														placeholder="Search Keyword">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<button (click)="getSearch()" class="btn btn_theme">Search</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="investment_table_sec">
						<div class="db_container">
							<div class="row">
								<div class="col-sm-12">
									<div class="card">
										<div class="card-body">
											<!-- <div class="card_ttl">
			            						<h3>Lead List</h3>
			            						<small class="sub_crd">A project is an activity to meet the creation of a unique product or service and thus activities that are undertaken to accomplish routine activities.</small>
			            					</div> -->
											<div class="table-responsive table_seler">
		            							<!-- table start -->
												<div class="table_db_indi">
													<div class="onl_tabl">	
														<table class="mat-table table-bordered table table-striped" sort>	
															<thead>
															  	<tr class="mat-header-row">
																	<th (click)="sort('follow_up_date')" class="mat-header-cell">Follow Up</th>
																	<th (click)="sort('LastName')" class="mat-header-cell">
																		Surname</th>
																	<th (click)="sort('FirstName')" class="mat-header-cell">
																		First Name</th>
																	<!-- <th (click)="sort('IdNumber')" class="mat-header-cell">ID</th> -->
																	<th (click)="sort('CellNumber')"
																		class="mat-header-cell">Cell No.</th>
																	<th (click)="sort('Email')" class="mat-header-cell">
																		Email</th>
																	<!-- <th (click)="sort('HomeAddress')" class="mat-header-cell">Address</th> -->
																	<!-- <th class="mat-header-cell">Last<br>Followed Up</th> -->
																	<th (click)="sort('status')" class="mat-header-cell">
																		Status</th>
																	<th class="mat-header-cell">
																		Action</th>
																</tr>
															</thead>
															<tbody>
															  	<ng-container *ngFor="let value of leads; let i = index">
																<tr class="mat-row"
																	>
																	<td class="mat-cell datpckr_td">
																		<span *ngIf="value.status != 'archive'">
																			<mat-form-field appearance="fill">
																				<input readonly matInput
																					[matDatepicker]="pickerFrom"
																					[(ngModel)]="value.follow_up_date"
																					(dateInput)="changeDate('input', $event,value)"
																					[ngModelOptions]="{standalone: true}">
																				<mat-datepicker-toggle
																					matSuffix [for]="pickerFrom">
																				</mat-datepicker-toggle>
																				<mat-datepicker #pickerFrom>
																				</mat-datepicker>
																			</mat-form-field>
																		</span>

																		<span *ngIf="value.status == 'archive'">
																			-
																		</span>
																	</td>
																	<td class="mat-cell">{{value.LastName}} </td>
																	<td (click)="toggle(value.id)"
																		class="mat-cell wtnrp" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">{{value.FirstName}} </td>
																	<!-- <td class="mat-cell">{{value.IdNumber}}</td> -->
																	<td class="mat-cell">{{value.CellNumber}}</td>
																	<td class="mat-cell">{{value.Email}}</td>
																	<!-- <td class="mat-cell">12/18/2020</td> -->
																	<!-- <td class="mat-cell addrs_td">{{value.HomeAddress.substr(0,20)}} <a (click)="viewMore('Address',value.HomeAddress)" href="javascript:;" class="wtnrp">View More</a></td> -->
																	<td class="mat-cell">
																		<span *ngIf='value.status == "call_lead"' class="badge badge-danger">Call Lead</span>
																		<span *ngIf='value.status != "call_lead" && value.status != "archive" && value.status != "upcoming"' class="badge badge-primary">Become Client</span>
																		<span *ngIf='value.status != "call_lead" && value.status != "client" && value.status != "upcoming"' class="badge" style="background-color: orange;">Archive</span>
																		<span *ngIf='value.status != "call_lead" && value.status != "client" && value.status != "archive" && value.status == "upcoming"' class="badge" style="background-color: orange;">Upcoming</span>
																	</td>
																	<!-- <td class="mat-cell" *ngIf='value.status != "call_lead"')>
																		<span class="badge badge-primary">In progress</span>
																	</td> -->
																	<!-- [color]="getStatusColor(value.status)" -->
																	<td class="mat-cell">
																		<span class="d-flex align-items-center">	
																			<button mat-raised-button
																				[matMenuTriggerFor]="menu"
																				class="custom-mat-raised-button">
																				<!-- {{value.status}} -->
																				<mat-icon class="custom-mat-icon">keyboard_arrow_down</mat-icon>
																			</button>
																			<button mat-raised-button
																				class="custom-mat-raised-button" routerLink="/user/editLead/{{value.id}}">
																				<mat-icon class="custom-mat-icon">edit</mat-icon>
																			</button>
																			<mat-menu #menu="matMenu" xPosition="before">
																				<button
																					(click)="changeStatus(value.id,	'call_lead')"
																					mat-menu-item>
																					<span>Call Lead</span>
																				</button>
																				<button
																					(click)="changeStatus(value.id,'client')"
																					mat-menu-item>
																					<span>Become Client</span>
																				</button>
																				<button
																					(click)="changeStatus(value.id,'archive')"
																					mat-menu-item>
																					<span>Archieve</span>
																				</button>
																				<button
																					(click)="changeStatus(value.id,'upcoming')"
																					mat-menu-item>
																					<span>Upcoming</span>
																				</button>
																				<!-- <button
																					(click)="changeStatus(value.id,'cancelled')"
																					mat-menu-item>
																					<span>Cancelled</span>
																				</button> -->
																				<button (click)="deleteLead(value.id)"
																					mat-menu-item>
																					<span>Discard</span>
																				</button>
																			</mat-menu>
																		</span>
																	</td>
																</tr>
																<tr *ngIf="opened.indexOf(value.id) >= 0" id="multiCollapseExample1" class="mat-row g {{opened.indexOf(value.id)}} collapse">
																	<td colspan="7">
																		<div class="">
																			<p>Address: {{value.HomeAddress.substr(0,20)}}</p>
																			<p>ID: {{value.IdNumber}}</p>
																			<h5>Name: {{ value.FirstName }}
																				{{ value.LastName }}</h5>
																			<p>Other Contact Number: {{ value.HomeNumber }}</p>
																			<!-- <p>Marital Status: {{ value.MaritalStatus }}</p> -->
																			
																			<p class="mb-0">Note: <a
																					(click)="viewMore(value.Note,value.id)"
																					class="wtnrp">View Note</a></p>
																		</div>
																	</td>	
																		
																		

																</tr>
															</ng-container>
															</tbody>
														</table>

														<mat-paginator [pageSize]="limit" (page)="paginationOptionChange($event)" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>	
													</div>
												</div>
												<!-- table start -->
		            						</div>		
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>

			<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
			</div>
		</div>
	</section>
	<!-- footer starts -->
	<!-- <app-footer></app-footer> -->
	<!-- footer ends -->
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Note</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div *ngIf='!ShowEditNote' class="d-flex justify-content-between">
						<p class="coming_note">{{ModalBody}}</p>
						<div class="btn_edt_not text-right">
							<button class="btn btn_theme" (click)="showEditNote()"><i class="fa fa-pencil"></i> Edit
								Note</button>
						</div>
					</div>

					<div class="note_editor" *ngIf='ShowEditNote'>
						<h4>{{edit ? 'Add Note' : 'Edit Note'}}</h4>
						<div class="form-group">
							<textarea class="form-control" rows="4" [(ngModel)]="ModalBody"
								[ngModelOptions]="{standalone: true}"></textarea>
						</div>
						<div class="form-group">
							<div class="text-right btn_save_note">
								<button class="btn btn_theme" (click)='updateLeadNote()'>Save & Update</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
</div>