<!-- Header -->
<app-db-officer-header></app-db-officer-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_brokr_lst">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db invest_db">
	    		<section class="bread_top_sec">
	    			<div class="custom_container">
	        			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
	            			<h3>Broker Details</h3>
	            			<nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <!-- <li class="breadcrumb-item">Dashboard</li> -->
								    <li class="breadcrumb-item"><a routerLink="/officer/brokersList">Broker List</a></li>
								    <li class="breadcrumb-item active">Broker Detail</li>
								</ol>
							</nav>
	            		</div>
	            	</div>
	    		</section>
	    		<div class="marg_over_bread">

	        		<section class="investment_table_sec">
	        			<div class="custom_container">
	        				<div class="row">
	            				<div class="col-sm-12">
		            				<div class="card">
		            					<div class="card-body">
		            						<div class="broker_name_comp text-center" >
		            							<h4>Broker Name: {{first_name}} {{last_name}}</h4>
		            							<h5>Broker Number: {{broker_number}}</h5>
		            							<h5>Company Name: {{company}}</h5>
		            						</div>
			            					<div class="card_ttl mt-3">
			            						<h3>List of Clients</h3>
			            					</div>
			            					<div class="top_filter_sec">
			            						<form class="formm">
						            				<div class="row">
							            				<div class="col-sm-3">
					            							<div class="form-group">
					            								<select [(ngModel)]="option" [ngModelOptions]="{standalone: true}" class="custom-select form-control">
					            									<option value="FirstName">First Name</option>
					            									<option value="LastName">Last Name</option>
					            									<option value="Email">Email</option>
					            								</select>
					            							</div>
						            					</div>
							            				<div class="col-sm-3">
					            							<div class="form-group">
					            								<input type="" class="form-control" name="" placeholder="Search Keyword" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
					            							</div>
						            					</div>
						            					<div class="col-sm-6">
					            							<div class="form-group">
					            								<button class="btn btn_theme" (click)="getSearch()">Search</button>
					            							</div>
						            					</div>
						            				</div>
					            				</form>
			            					</div>
			            					<div class="chk_zero mt-3 mb-3">
				            					<div class="form-group">
				            						<div class="custom-control custom-checkbox">
		                                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
		                                                <label class="custom-control-label" for="customCheck"> Show clients with zero balance</label>
		                                            </div>	
				            					</div>
				            				</div>
		            						<div class="table-responsive table_seler">
		            							<!-- table start -->
												<div class="table_db_indi">
													<div class="onl_tabl">	
														<table class="mat-table table-bordered table table-striped" sort>	
														  	<tr class="mat-header-row">
															    <th (click)="sort('investor_number')" class="mat-header-cell" rowspan="2">Client Number</th>
															    <th (click)="sort('FirstName')" class="mat-header-cell" rowspan="2">Client Name</th>
															    <th class="mat-header-cell" rowspan="2">Products</th>
															    <th class="mat-header-cell" rowspan="2">Total Holdings</th>
															    <th class="mat-header-cell" colspan="6">Risk Profiler (In Year)</th>
															    <th class="mat-header-cell" rowspan="2">ID</th>
															    <th class="mat-header-cell" rowspan="2">D</th>
															    <th class="mat-header-cell" rowspan="2">ROA</th>
															    <th class="mat-header-cell" rowspan="2">RP</th>
															    <th class="mat-header-cell" rowspan="2">WL</th>
														  	</tr>
														  	<tr class="mat-header-row">
															    <th class="mat-header-cell">1st</th>
															    <th class="mat-header-cell">2nd</th>
															    <th class="mat-header-cell">3rd</th>
															    <th class="mat-header-cell">4th</th>
															    <th class="mat-header-cell">5th</th>
															    <th class="mat-header-cell">6th</th>
														  	</tr>
														  	<ng-container *ngFor="let value of investors; let i = index">
														  	<tr class="mat-row">
															    <td class="mat-cell">{{ value.investor_number }}</td>
															    <td (click) = "toggle(value.id)" class="mat-cell wtnrp">{{ value.FirstName }} {{ value.LastName }}</td>
															    <td class="mat-cell">-</td>
															    <td class="mat-cell">-</td>
															    <td class="mat-cell">{{ value.Year1? value.Year1 : 0  }}%</td>
															    <td class="mat-cell">{{ value.Year2? value.Year2 : 0  }}%</td>
															    <td class="mat-cell">{{ value.Year3? value.Year3 : 0  }}%</td>
															    <td class="mat-cell">{{ value.Year4? value.Year4 : 0  }}%</td>
															    <td class="mat-cell">{{ value.Year5? value.Year5 : 0  }}%</td>
															    <td class="mat-cell">{{ value.Year6? value.Year6 : 0  }}%</td>
															    <td class="mat-cell"></td>
															    <td class="mat-cell"></td>
															    <td class="mat-cell"></td>
															    <td class="mat-cell"></td>
															    <td class="mat-cell"></td>
														  	</tr>
														  	<tr *ngIf="opened.includes(value.id)" class="mat-row">
															    <td class="mat-cell" colspan="15">
															    	<h5>Name: {{ value.FirstName }} {{ value.LastName }}</h5>
															    	<p>Contact number: {{ value.CellNumber }}</p>
															    	<p>Email Address: {{ value.Email }}</p>
															    	<p class="">Passport Number: {{ value.IdNumber }}</p>
															    	<p class="mb-0">Client Profile: <a (click)="clientProfile(value)" class="wtnrp" href="javascript:;">View Detail</a></p>
															    </td>
														  	</tr>
														  	</ng-container>
														</table>

														<mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[10, 25, 50 , 100]" (page)="paginationOptionChange($event)"></mat-paginator>	
													</div>
												</div>
												<!-- table start -->
		            						</div>		
		            					</div>
		            				</div>
		            			</div>
		            		</div>
	        			</div>
	        		</section>
	        	</div>
	        </div>
	        <div class="sidenav_db">
				<app-db-officer-sidebar></app-db-officer-sidebar>
        	</div>
    	</div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>