<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_invstr">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db invstr_db">
        		<section class="bread_top_sec">
        			<div class="db_container">
            			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
            				<div class="sid_controlr">
            					<i class="clos_sid fa fa-bars"></i>
            					<!-- <i class="opn_sid fa fa-times"></i> -->
            				</div>
	            			<h3>Add Letter of Authority</h3>
	            			<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item"><a routerLink="/user/dbInvestment">Investments</a></li>
								    <li class="breadcrumb-item active">Add Risk Profiler</li>
								</ol>
							</nav> -->
	            		</div>
	            	</div>
        		</section>
        		<div class="marg_over_bread">
        			<section class="review_sec_db">
            			<div class="db_container">
            				<div class="row">
	            				<div class="col-sm-12">
		            				<div class="card">
		            					<div class="card-body">
			            					<!-- <div class="card_ttl">
			            						<h3>Add Risk Profiler</h3>
			            						<small class="sub_crd">A project is an activity to meet the creation of a unique product or service and thus activities that are undertaken to accomplish routine activities.</small>
											</div> -->
											<form class="formm">
												<div class="row">													
													<div class="col-sm-12">
														<div class="form-group float-left">
															<a href="javascript:;" (click)="goBack()" class="btn btn_theme"><i class="fa fa-arrow-left "></i></a>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-6 offset-sm-3">
														<div class="form-group">
															<input type="file" class="form-control" (change)="selectPDF($event)" [accept]="'.pdf'" name="" placeholder="choose discloser">
														</div>
														<div class="form-group text-center">
															<button class="btn btn_theme" (click)="uploadAuthLetter()">Upload</button>
														</div>
													</div>
												</div>
											</form>
		            					</div>
		            				</div>
		            			</div>
		            		</div>
            			</div>
            		</section>
            	</div>
        	</div>
        	<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
        	</div>
        </div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>

