<!-- Header -->
<!-- <app-header></app-header> -->
<!-- Header ends -->
<!-- <mat-spinner></mat-spinner> -->

<div class="wrapper_shala">
    <section class="register_sec">
        <div class="row_marg_minus">
            <div class="login_secccc d-flex align-items-center justify-content-center flex-column">
                <div class="form_head">
                    <div class="logogo_form">
                        <img src="assets/img/logo.png" class="img-fluid">
                    </div>
                    <mat-tab-group mat-stretch-tabs>
                        <mat-tab label="Login"> 
                            <div class="tab_one_data">
                                <div class="erroe_div" *ngIf="error_message">
                                    <p class="text-center">{{ error_message }}</p>
                                </div>

                                <form [formGroup]="form" class="login_form_padng">
                                    <div class="padding_div_input">
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <div class="pos_rel icon_input">
                                                <i class="fa fa-envelope"></i>
                                                <input name="email" type="email" class="form-control" placeholder="Email Address" formControlName="email" email maxlength="100">
                                                <div *ngIf="email.invalid && (email.dirty || email.touched || signinclick)"
                                                    class="text-danger">
                                                    <div *ngIf="email.errors.required">
                                                        This field is required.
                                                    </div>
                                                    <div *ngIf="email.errors.email">
                                                        Please enter valid email
                                                    </div>
                                                    <div *ngIf="email.errors.maxlength">
                                                        Please enter not more than 100 character
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <div class="pos_rel icon_input">
                                                <i class="fa fa-key"></i>
                                                <input type="password" class="form-control" placeholder="Enter Password" formControlName="password" maxlength="100">
                                                <div *ngIf="password.invalid && (password.dirty || password.touched || signinclick)"
                                                    class="text-danger">
                                                    <div *ngIf="password.errors.required">
                                                        This field is required.
                                                    </div>
                                                    <div *ngIf="password.errors.maxlength">
                                                        Please enter not more than 100 character
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input formControlName="remember" type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group text-right">
                                                    <a routerLink="/forgotPassword" class="cp"><i>Forgot Password?</i></a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group link_target_div">
                                            <!-- <a routerLink="/officerLogin" class="cp"><i>Complaince Officer Click Here To Login</i></a> -->
                                            <!-- <a href="{{ environment.admin_url }}" class="cp"><i>Head Office Click Here To Login</i></a> -->
                                        </div>
                                    </div>
                                    <!-- <div class="form-group"> -->
                                        <div class="pos_rel log_sgn_btn">
                                            <!-- <a href="javascript:;" class="btn btn_theme sgnup_btn"> <i class="far fa-key"></i> Sign In </a> -->
                                            <!-- <button [disabled]="form.invalid || form.disabled" (click)="signInClick()" class="btn btn_theme sgnup_btn"> <i class="far fa-key"></i> Sign In </button> -->
                                            <button (click)="signInClick()" class="btn btn_theme sgnup_btn"> <i class="far fa-key"></i> {{ loginButtonText }} </button>
                                        </div>
                                    <!-- </div> -->
                                </form>
                            </div>
                        </mat-tab>
                       
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </section>

    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>