<aside class="seller_side_nav">
    <div class="top_selr_info text-center">
        <img src="assets/img/client3.jpg" class="img-fluid">
        <div class="d-flex justify-content-around below_icon">
            <span class="icon_short"><i data-toggle="tooltip" data-placement="top"  title="Settings" class="fa fa-cogs"></i></span>
            <span class="icon_short"><i data-toggle="tooltip" data-placement="top"  title="Notifications" class="fa fa-bell"></i></span>
            <span (click) = "logout()" class="icon_short"><i data-toggle="tooltip" data-placement="top"  title="Logout" class="fa fa-power-off"></i></span>
        </div>
    </div>
    <div class="list_sid_nav">
        <ul type="none">
	       <!--  <li>
                <a routerLink="/officer/brokersList" class="dropdown-item"><span><i class="fas fa-user"></i></span> My Profile </a>
            </li> -->
	        <!-- <li>
                <a href="javascript:;" class="dropdown-item active_d"><span><i class="fas fa-chart-bar"></i></span> AUM </a>
            </li> -->
	        <li>
                <a routerLink="/officer/dbClients" class="dropdown-item">
                    <span><i class="fas fa-user-tie"></i></span> Clients
                </a>
                
            </li>
	        
	        <!-- <li>
                <a routerLink="/officer/dbTasks" class="dropdown-item">
                    <span><i class="fas fa-tasks"></i></span> Tasks 
                </a>
                
            </li> -->
	        
	        <li>
                <a (click) = "logout()" href="javascript:;" class="dropdown-item"><span><i class="fa fa-power-off"></i></span> Log Out </a>
            </li>
        </ul>
    </div>
</aside>