<!-- Header -->
<app-header></app-header>
<!-- Header ends -->
<!-- <mat-spinner></mat-spinner> -->

<div class="wrapper_shala priv_page">
    <section class="top_cms_pag">
        <div class="container">
            <div class="top_wrp_cms">
                <h1>Frequently Asked Questions</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
        </div>
    </section>
    <section class="faqs_contnt">
        <div class="container">
            <div class="faqs_accordn">
            	
			    <div id="accordion" class="accordion">
			        <div class="card">
			            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
			                <a class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a>
			            </div>
			            <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
			                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
			                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
			                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			                </p>
			            </div>
			        </div>
			        <div class="card">
			            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			                <a class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a>
			            </div>
			            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
			                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
			                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
			                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			                </p>
			            </div>
			        </div>
			        <div class="card">
			            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			                <a class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a>
			            </div>
			            <div id="collapseThree" class="collapse" data-parent="#accordion" >
			                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
			                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
			                </div>
			            </div>
			        </div>
			        <div class="card">
			            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne1">
			                <a class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a>
			            </div>
			            <div id="collapseOne1" class="card-body collapse" data-parent="#accordion" >
			                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
			                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
			                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			                </p>
			            </div>
			        </div>
			        <div class="card">
			            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2">
			                <a class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a>
			            </div>
			            <div id="collapseTwo2" class="card-body collapse" data-parent="#accordion" >
			                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
			                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
			                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			                </p>
			            </div>
			        </div>
			        <div class="card">
			            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree3">
			                <a class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a>
			            </div>
			            <div id="collapseThree3" class="collapse" data-parent="#accordion" >
			                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
			                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
			                </div>
			            </div>
			        </div>
			    </div>

            </div>
        </div>
	</section>

    <!-- footer starts -->
    <app-footer></app-footer>
    <!-- footer ends -->
</div>