<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_investmnt">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db invest_db">
        		<section class="bread_top_sec">
        			<div class="db_container">
            			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
            				<div class="sid_controlr">
            					<i class="clos_sid fa fa-bars"></i>
            					<!-- <i class="opn_sid fa fa-times"></i> -->
            				</div>
	            			<h3>Client List</h3>
	            			<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item active">Client</li>
								</ol>
							</nav> -->
	            		</div>
	            	</div>
        		</section>
        		<div class="marg_over_bread">
            		<section class="p-0 top_filter_sec">
            			<div class="db_container">
            				<div class="card">
            					<div class="card-body">
		            				<form class="formm">
			            				<div class="row">
				            				<div class="col-sm-3">
		            							<div class="form-group">
		            								<select class="custom-select form-control" [(ngModel)]="option" [ngModelOptions]="{standalone: true}">
		            									<option value="FirstName">First Name</option>
		            									<option value="LastName">Surname</option>
		            									<option value="Email">Email</option>
		            									<!-- <option>Option 4</option> -->
		            									<!-- <option>Option 5</option> -->
		            								</select>
		            							</div>
			            					</div>
				            				<div class="col-sm-3">
		            							<div class="form-group">
		            								<input type="" class="form-control" name="" placeholder="Search Keyword" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
		            							</div>
			            					</div>
			            					<div class="col-sm-6">
		            							<div class="form-group">
		            								<button class="btn btn_theme" (click)="getSearch()" >Search</button>
		            								<button class="btn btn_theme ml-4" (click)="getDownload()">Download</button>
		            								<button class="btn btn_theme ml-4" data-toggle="modal" data-target="#myModal1">Create Category</button>
		            							</div>
			            					</div>
			            				</div>
		            				</form>
		            			</div>
		            		</div>
		            	</div>
            		</section>

            		<section class="investment_table_sec">
            			<div class="db_container">
            				<div class="row">
	            				<div class="col-sm-12">
		            				<div class="card">
		            					<div class="card-body">
		            						<div class="fltr_btn text-right">
												<div class="form-group">
													<label>Filter by Category</label>
													<select class="custom-select form-control slct_ctgry" [(ngModel)]="filter_category_id" (change)="filterCategory($event)">
														<option value="all">All</option>
														<option *ngFor="let cat of clientCategory;" value="{{ cat.id }}">{{ cat.category_name }}</option>
													</select>
													<!-- <p class="" *ngIf="categoryLoader"> <mat-spinner strokeWidth="3" [diameter]="20"></mat-spinner> </p> -->
													<div *ngIf="categoryLoader" class="spinner">
														<mat-spinner strokeWidth="3" [diameter]="20"></mat-spinner>
													</div>
												</div>
						            		</div>
			            					<!-- <div class="card_ttl">
			            						<h3>Clients</h3>
			            						<small class="sub_crd">A project is an activity to meet the creation of a unique product or service and thus activities that are undertaken to accomplish routine activities.</small>
			            					</div> -->
		            						<div class="table-responsive table_seler">
		            							<!-- table start -->
												<div class="table_db_indi">
													<div class="onl_tabl">	
														<table class="mat-table table-bordered table table-striped" sort>	
														  	<tr class="mat-header-row">
															    <th class="mat-header-cell" rowspan="2">Move</th>
															    <th (click)="sortNew('ClientNumber')" class="mat-header-cell" rowspan="2">Client Number<p class="text-center p_res" *ngIf="loaderSort.ClientNumber"> <mat-spinner strokeWidth="3" [diameter]="20"></mat-spinner> </p></th>
															    <th (click)="sortNew('LastName')" class="mat-header-cell" rowspan="2">SurName <p class="text-center p_res" *ngIf="loaderSort.LastName"> <mat-spinner strokeWidth="3" [diameter]="20"></mat-spinner> </p></th>
															    <th (click)="sortNew('FirstName')" class="mat-header-cell" rowspan="2">First Name<p class="text-center p_res" *ngIf="loaderSort.FirstName"> <mat-spinner strokeWidth="3" [diameter]="20"></mat-spinner> </p></th>
															    <th (click)="sortNew('total_products')" class="mat-header-cell" rowspan="2">No. of Products<p class="text-center p_res" *ngIf="loaderSort.total_products"> <mat-spinner strokeWidth="3" [diameter]="20"></mat-spinner> </p></th>
															    <th (click)="sortNew('total_holding')"h class="mat-header-cell" rowspan="2">Total Holdings<p class="text-center p_res" *ngIf="loaderSort.total_holding"> <mat-spinner strokeWidth="3" [diameter]="20"></mat-spinner> </p></th>
															    <th class="mat-header-cell" colspan="6">Risk Profiler (In Year)</th>
															    <th class="mat-header-cell" rowspan="2">Category</th>
															    <th class="mat-header-cell" rowspan="2">ID</th>
															    <th class="mat-header-cell" rowspan="2">D</th>
															    <th class="mat-header-cell" rowspan="2">ROA</th>
															    <th class="mat-header-cell" rowspan="2">RP</th>
															    <th class="mat-header-cell" rowspan="2">WL</th>
															    <th class="mat-header-cell" rowspan="2">Action</th>
														  	</tr>
														  	<tr class="mat-header-row">
															    <th class="mat-header-cell">1st</th>
															    <th class="mat-header-cell">2nd</th>
															    <th class="mat-header-cell">3rd</th>
															    <th class="mat-header-cell">4th</th>
															    <th class="mat-header-cell">5th</th>
															    <th class="mat-header-cell">6th</th>
														  	</tr>
														  	<ng-container *ngFor="let value of investors; let i = index">
														  	<tr class="mat-row">
																<td class="mat-cell"><a href="#" class="move2_link" (click)="moveTo(value.id)" data-toggle="modal" data-target="#myModal">Move To</a></td>
																<td class="mat-cell wtnrp" (click) = "toggle(value.id)">
																
																{{ value.ClientNumber }}</td>
																<td class="mat-cell wtnrp" (click)="clientProfile(value)">{{ value.LastName }} </td>
															    <td class="mat-cell wtnrp" (click)="clientProfile(value)">{{ value.FirstName }} </td>
															    
															    <!-- <td class="mat-cell"> getTotalNoOfProducts(value.investor_clients_multiple)</td>  -->
															    <td class="mat-cell"> {{ value.total_products_holding }}</td> <!--no of products -->
															    <td class="mat-cell wht_spave">R {{ formatAmount(value.totalSum) }}</td> <!--Total Holding -->
															    <td class="mat-cell"><span class="{{ value.Year1Color }}">{{ value.Year1? value.Year1 : 0  }}%</span></td>
															    <td class="mat-cell"><span class="{{ value.Year2Color }}">{{ value.Year2? value.Year2 : 0  }}%</span></td>
															    <td class="mat-cell"><span class="{{ value.Year3Color }}">{{ value.Year3? value.Year3 : 0  }}%</span></td>
															    <td class="mat-cell"><span class="{{ value.Year4Color }}">{{ value.Year4? value.Year4 : 0  }}%</span></td>
															    <td class="mat-cell"><span class="{{ value.Year5Color }}">{{ value.Year5? value.Year5 : 0  }}%</span></td>
															    <td class="mat-cell"><span class="{{ value.Year6Color }}">{{ value.Year6? value.Year6 : 0  }}%</span></td>

															    <td class="mat-cell">{{ value.investor_client_category ? value.investor_client_category.category_name : "--" }}</td>

															    <td class="mat-cell" [innerHTML]=" validateID(value.total_documents)  "></td>
															    <td class="mat-cell" [innerHTML]="validateItem(value.DisclosurePDF) "></td>
															    <td class="mat-cell" [innerHTML]=" validateItem(value.RecordAdviceClientSignature) "></td>
															    <td class="mat-cell" [innerHTML]=" validateItem(value.RiskProfilerClientSignature) "></td>
															    <td class="mat-cell"> <i class="fa fa-check"></i></td>
																<td class="mat-cell"><span
																	class="custom-mat-raised-button" (click)="fetchClientFunds(value.id,value.ClientNumber)" >
																	<mat-icon class="custom-mat-icon">send</mat-icon>
																</span></td>
														  	</tr>
														  	<tr *ngIf="opened.includes(value.id)" class="mat-row">
															    <td class="mat-cell" colspan="18">
																	<h5>Name: {{ value.FirstName }} {{ value.LastName }}</h5>
																	<p class="">ID Number: {{ value.IdNumber }}</p>
															    	<p>Contact number: {{ value.CellNumber }}</p>
															    	<p>Email Address: {{ value.Email }}</p>
															    	<!-- <p class="mb-0">Client Profile: <a (click)="clientProfile(value)" class="wtnrp" href="javascript:;">View Detail</a></p> -->
															    </td>
														  	</tr>
															  </ng-container>
															 
														  		
														</table>
														<!-- <div *ngIf="isLoading"
															style="display: flex; justify-content: center; align-items: center; background: white;">
															<mat-progress-spinner 
																color="primary" 
																mode="indeterminate">
															</mat-progress-spinner>
															</div> -->
															<div *ngIf="isLoading"  style="height:60px; display: flex; justify-content: center; align-items: center; background: white;">
																<div>
																  <div class="circle-loader">
																	<div></div>
																	<div></div>
																	<div></div>
																	<div></div>
																	<div></div>
																	<div></div>
																	<div></div>
																	<div></div>
																  </div>
																</div>
  
															  </div>

															  <div *ngIf="investors.length == 0"  style="height:60px; display: flex; justify-content: center; align-items: center; background: white;">
																<div>
																  <div>
																	<div></div>
																	<div></div>
																	<div></div>
																	<div>No clients</div>
																	<div></div>
																	<div></div>
																	<div></div>
																	<div></div>
																  </div>
																</div>
  
															  </div>

														<mat-paginator [length]="length" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50 , 100]" (page)="paginationOptionChange($event)"></mat-paginator>
														
													</div>
												</div>
												<!-- table start -->
		            						</div>		
		            					</div>
		            				</div>
		            			</div>
		            		</div>
            			</div>
            		</section>
            	</div>
        	</div>
        	<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
        	</div>
        </div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>

<div class="modal modl-ctgry" id="myModal1">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title">Category Name</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="swtch_modl">
					<div class="form-group">
						<label>Category Name</label>
						<div class="pos_rel">
							<input type="text" [(ngModel)]="category_name" 
								class="form-control" placeholder=""
								maxlength="22">
						</div>
					</div>
					<div class="form-group">
						<div class="text-right btn_snd">
							<button class="btn btn_theme" (click)="createClientCategories()">Save</button>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Move Client</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal_accordion">
                	<div class="wrap_overall_revws">
						<!--  -->
						<div class="card-body">
							<ul _ngcontent-alt-c14="" class="rad_buttons">
							    <!---->
							    <li *ngFor="let item of clientCategory;let ind = index">
							        <mat-radio-group
										aria-labelledby="example-radio-group-label"
										class="example-radio-group" [(ngModel)]="category_id"><mat-radio-button  [value]="item.id" class="mat-radio-button mat-accent" tabindex="-1" id="mat-radio-{{ind}}">
							            <label class="mat-radio-label" for="mat-radio-1-input"> {{ item.category_name }} </label>
									</mat-radio-button>
								</mat-radio-group>
							    </li>
							</ul>
						</div>

						<!-- <div class="accordion" id="acrodion_modal">
						    <div class="card">
						        <div class="card-header" id="headingOne">
						            <h2 class="mb-0" data-toggle="collapse"  data-target="#collapseOnem" aria-expanded="true" aria-controls="collapseOnem">
						               {{ currentYear }}
						            </h2>
						        </div>
						        <div id="collapseOnem" class="collapse" aria-labelledby="headingOne" data-parent="#acrodion_modal">
						            <div class="card-body">
						            	<ul class="">
						            	 	<li *ngFor="let item of monthly;let imonth = index"><mat-checkbox> {{ item }} </mat-checkbox></li>
						            	 	
						            	</ul>
						            </div>
						        </div>
						    </div>
						</div> -->
						<!--  -->
					</div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="moveInvestor()" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modl-switch" id="myModal2">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title">Switch Fund</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="swtch_modl">
					<div class="form-group">
						<label>Choose fund to switch</label>
						<div class="pos_rel">
							<select 
								class="custom-select form-control" [(ngModel)]="switchForm.all_fund_selected" [ngModelOptions]="{standalone: true}">
								<option value="">Choose</option>
								<option *ngFor="let item of all_funds" value="{{item.instrument_description}}">{{item.instrument_description}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label>Choose existng fund</label>
						<div class="pos_rel">
							<select 
								class="custom-select form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="switchForm.exist_fund_selected" >
								<option value="">Choose</option>
								<option *ngFor="let item of client_funds" value="{{item.instrument_description}}">{{item.instrument_description}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label>Message</label>
						<textarea class="form-control" [(ngModel)]="switchForm.message" [ngModelOptions]="{standalone: true}" rows="3"></textarea>
					</div>
					<div class="form-group">
						<div class="text-right btn_snd">
							<button class="btn btn_theme" (click)="switchFunds()">Send</button>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>