<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_clnt_lst">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db invest_db">
        		<section class="bread_top_sec">
        			<div class="db_container">
            			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
            				<div class="sid_controlr">
            					<i class="clos_sid fa fa-bars"></i>
            					<!-- <i class="opn_sid fa fa-times"></i> -->
            				</div>
	            			<h3>Reviews List</h3>
	            			<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item active">Reviews List</li>
								</ol>
							</nav> -->
	            		</div>
	            	</div>
        		</section>
        		<div class="marg_over_bread">
            		<section class="p-0 top_filter_sec">
            			<div class="db_container">
            				<div class="card">
            					<div class="card-body">
		            				<form [formGroup]="form" class="formm">
			            				<div class="row">
				            				<div class="col-sm-3">
		            							<div class="form-group">
		            								<select class="custom-select form-control">
		            									<option>Option 1</option>
		            									<option>Option 2</option>
		            									<option>Option 3</option>
		            									<option>Option 4</option>
		            									<option>Option 5</option>
		            								</select>
		            							</div>
			            					</div>
				            				<div class="col-sm-3">
		            							<div class="form-group">
		            								<input type="" class="form-control" name="" placeholder="Search Keyword">
		            							</div>
			            					</div>
			            					<div class="col-sm-2">
		            							<div class="form-group">
		            								<button class="btn btn_theme">Search</button>
		            							</div>
			            					</div>
			            					<div class="col-sm-3 offset-sm-1 text-right">
			            						<div class="form-group">
		            								<input type="" class="form-control" name="" placeholder="Date (From)">
		            							</div>
			            					</div>
			            				</div>
		            				</form>
		            			</div>
		            		</div>
		            	</div>
            		</section>

            		<section class="clnt_lst_sec">
            			<div class="db_container">
            				<div class="row">
	            				<div class="col-sm-12">
		            				<div class="card">
		            					<div class="card-body">
			            					<div class="card_ttl">
			            						<h3>Reviews List</h3>
			            						<small class="sub_crd">A project is an activity to meet the creation of a unique product or service and thus activities that are undertaken to accomplish routine activities.</small>
			            					</div>
		            						<div class="table-responsive table_seler">
		            							<!-- table start -->
												<div class="table_db_indi">
													<div class="onl_tabl">
														<table class="mat-table table-bordered table table-striped" sort>
															<thead>
															  	<tr class="mat-header-row">
																    <th class="mat-header-cell">Month</th>
																    <th class="mat-header-cell">Client Name</th>
																    <th class="mat-header-cell">income</th>
																    <th class="mat-header-cell">Type</th>
															  	</tr>
															</thead>
															<tbody>
															  	<tr class="mat-row">
																    <td class="mat-cell">January </td>
																    <td class="mat-cell">Roahnre Patrick</td>
																    <td class="mat-cell">R 546654</td>
																    <td class="mat-cell">Monthly</td>
															  	</tr>
															  	<tr class="mat-row">
																    <td class="mat-cell">January </td>
																    <td class="mat-cell">John Malik</td>
																    <td class="mat-cell">R 456897</td>
																    <td class="mat-cell">Monthly</td>
															  	</tr>
															  	<tr class="mat-row">
																    <td class="mat-cell">March </td>
																    <td class="mat-cell">Kendra Bitoni</td>
																    <td class="mat-cell">R 45648979</td>
																    <td class="mat-cell">Annually</td>
															  	</tr>
															  	<tr class="mat-row">
																    <td class="mat-cell">April </td>
																    <td class="mat-cell">Roahnre Patrick</td>
																    <td class="mat-cell">R 546654</td>
																    <td class="mat-cell">Monthly</td>
															  	</tr>
															  	<tr class="mat-row">
																    <td class="mat-cell">April </td>
																    <td class="mat-cell">Camilia Carvous</td>
																    <td class="mat-cell">R 546654</td>
																    <td class="mat-cell">Quaterly</td>
															  	</tr>
															  	<tr class="mat-row">
																    <td class="mat-cell">January </td>
																    <td class="mat-cell">John Malik</td>
																    <td class="mat-cell">R 456897</td>
																    <td class="mat-cell">Quaterly</td>
															  	</tr>
															  	<tr class="mat-row">
																    <td class="mat-cell">March </td>
																    <td class="mat-cell">Kendra Bitoni</td>
																    <td class="mat-cell">R 45648979</td>
																    <td class="mat-cell">Annually</td>
															  	</tr>
															  	<tr class="mat-row">
																    <td class="mat-cell">April </td>
																    <td class="mat-cell">Roahnre Patrick</td>
																    <td class="mat-cell">R 546654</td>
																    <td class="mat-cell">Annually</td>
															  	</tr>
															  	<tr class="mat-row">
																    <td class="mat-cell">April </td>
																    <td class="mat-cell">Camilia Carvous</td>
																    <td class="mat-cell">R 546654</td>
																    <td class="mat-cell">Monthly</td>
															  	</tr>
															</tbody>
														</table>

														<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>	
													</div>
												</div>
												<!-- table start -->
		            						</div>		
		            					</div>
		            				</div>
		            			</div>
		            		</div>
            			</div>
            		</section>
            	</div>
        	</div>
        	<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
        	</div>
        </div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>