.mobile_drop {
  display: none;
}
.acct_drop .dropdown-menu.dropdown-menu-right {
  min-width: 210px;
}
.mat-form-field {
  width: 100%;
}

@media (max-width: 1112px) {
  .hero_carosel .hero-img {
    height: 60vh;
  }
  .navbar-nav .nav-link.spcl_btn_heder {
    display: inline-block;
  }
  .mobile_drop {
    display: block;
  }
  
  .main_right_db {
    width: calc(100% - 0px) !important;
  }
  .sid_controlr {
    display: none;
  }
  .bread_nav_sec {
    padding-right: 0px;
  }
  .stepper_cuntnt .text-danger {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .hero_carosel .hero-img {
    height: 40vh;
  }
  .intro-title {
    font-size: 60px;
    top: -40px;
  }
}

@media (max-width: 991px) {
  .sidenav_db {
    display: none;
  }
  .profl_dtl_clnt_outr .col-sm-6 {
  	flex: 0 0 100%;
  	max-width: 100%;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .list_sid_nav a {
    padding: 9px 12px 9px 12px;
    margin: 0px 0 3px 0;
    font-weight: 400;
    font-size: 13px;
  }
  .wrp_white {
    padding: 0 20px;
    min-height: 100vh;
  }
}

@media (max-width: 834px) {
  .aabott_sec .row > div, .review_sec_db .row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .text_wrp_left {
    text-align: center !important;
  }
  .wrap_overall_revws {
    padding: 20px 10px 0 20px;
  }
  .sing_continer_revs li {
    padding: 10px 10px !important;
  }
  .welcom_letter_wrp {
    padding: 20px 0px;
  }
  #chartdiv_value {
    padding-top: 0;
    margin-left: 0;
  }
  .mat-horizontal-content-container {
    padding: 0 0 !important;
  }
}

@media (max-width: 812px) {}

@media (max-width: 768px) {
  .stepper_cuntnt td.table_inpt input {
    padding: 2px 3px;
    min-width: 85px;
  }
}

@media (max-width: 767px) {
  .hero_carosel .desc_sldr h2 {
    font-size: 30px;
  }
  .hero_carosel .carsl_cnt {
    font-size: 13px;
  }
  .left_abt_mig {
    padding: 0 40px;
  }
  .sing_continer_revs h3 {
    font-size: 15px;
  }
  h3.rev_h3 {
    font-size: 16px;
  }
  .stepper_cuntnt h5 {
    font-size: 14px;
  }
  .sgintry_area {
    margin-bottom: 10px;
  }
}

@media (max-width: 640px) {
  .inr_work img {
    width: 70px;
    height: 60px;
  }
  .wrap_how_sec {
    padding: 40px 0 20px;
  }
}

@media (max-width: 576px) {
  .table_inpt .mat-radio-group span {
    display: block;
  }
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding: 8px 4px !important;
  }
  .mat-step-label, .mat-step-label-selected {
    font-size: 10px !important;
  }
  .hero_carosel .hero-img {
    height: 47vh;
  }
  .hero_carosel .slider-counter {
    font-size: 20px;
  }
  .wrp_white {
    padding: 0 0px;
    min-height: unset;
  }
  .text_wrp_left {
    padding: 0 20px;
    text-align: center !important;
  }
  .stat_cards .card_wrpr_stat {
    flex-wrap: wrap;
  }
  .stat_cards .sing_card.card {
    min-width: unset;
    margin: 0 0px 10px;
    width: 100%;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-nav .dropdown-menu {
    position: static;
  }
  .yers_open_li li {
  	flex-flow: wrap;
    border-bottom: 1px solid #ededed;
  }
  .yers_open_li span.wid_two {
  	width: 100%;
  	max-width: 100%;
  	min-width: unset;
  }
  .intro-title {
    font-size: 40px;
    top: -30px;
  }
  .hero_carosel .desc_sldr {
    top: 50%;
    left: 27%;
    transform: translate(-18%, -50%);
  }
}

@media (max-width: 480px) {
  .hero_carosel .desc_sldr h2 {
    font-size: 28px;
  }
  .hero_carosel .owl-nav [class*="owl-"] {
    font-size: 13px;
    line-height: 30px;
    width: 30px;
    height: 30px;
  }
  .bread_top_sec .d-flex.text-white.pos_rel {
    flex-wrap: wrap;
  }
  .table_seler td {
    font-size: 12px;
  }
  .sing_continer_revs li {
    border: 1px solid #efefef;
    margin: 6px 0;
    flex-wrap: wrap;
  }
  .sing_continer_revs li span {
    margin: 5px 0;
  }
}

@media (max-width: 414px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {
  .breadcrumb {
    margin-bottom: 6px !important;
    margin-top: 10px;
  }
  .intro-title {
    font-size: 36px;
    top: -24px;
  }
}

@media (max-width: 320px) {}


.side_visible{
  display: block;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
}