<!-- Header -->
<app-header></app-header>
<!-- Header ends -->

<div class="wrapper_shala">
    <section class="register_sec">
        <div class="row_marg_minus">
            <div class="row">
                <div class="col-sm-6 sgnUp_bg d-flex align-items-center justify-content-right">
                    <div class="text_wrp_left text-right">
                        <h1>Welcome Back!</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="wrp_white d-flex align-items-center justify-content-center flex-column">
                        <div class="login_head text-left">
                            <div class="text-center logo_login">
                                <img src="assets/img/logo.png" class="img-fluid">
                            </div>
                            <h2>Forgot Password?</h2>
                            <p>Please enter your email ID and admin will share a new password in your registered Email ID.</p>
                        </div>
                        <div class="form_head">
                            <!-- <h5 class="text-center">Enter your Valid Mobile Number</h5> -->
                            <form [formGroup]="form">
                                <div class="form-group">
                                    <label>Registered Email</label>
                                    <div class="pos_rel icon_input">
                                        <i class="fa fa-envelope"></i>
                                        <input formControlName="email" type="text" class="form-control" placeholder="Enter Email Address" email maxlength="100">
                                        <span *ngIf="email.invalid && (email.dirty || email.touched || submitClick)"
                                            class="text-danger">
                                            <span *ngIf="email.errors.required">
                                                This field is required.
                                            </span>
                                            <span *ngIf="email.errors.email">
                                                Please enter valid email
                                            </span>
                                            <span *ngIf="email.errors.maxlength">
                                                Please enter not more than 100 character
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <div class="pos_rel log_sgn_btn">
                                        <a (click)="onSubmit()" href="javascript:;" class="btn btn_theme sgnup_btn"> Submit <i class="far fa-logn-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>