.btn_absss {
    position: absolute;
    top: 20px;
    right: 20px;
}

.year-color-red{
    color:red;
}
.year-color-orange{
    color:orange;
}
 .card.product-acc{
     background: #238ab4;
    color: #fff;
 }