<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_home">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db home_db">
        		<section class="bread_top_sec">
        			<div class="db_container">
            			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
	            			<h3>Hi! {{ firstName }}</h3>
	            			<nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item active">Dashboard</li>
								</ol>
							</nav>
							<div class="sid_controlr">
            					<i class="clos_sid fa fa-bars"></i>
            					<!-- <i class="opn_sid fa fa-times"></i> -->
            				</div>
	            		</div>
	            	</div>
        		</section>
        		<div class="marg_over_bread">
            		<section class="stat_cards">
            			<div class="db_container">
	            			<div class="d-flex justify-content-around card_wrpr_stat">
											<div class="sing_card card">
												<div class="card-body d-flex align-items-center">
													<div class="icons_stat">
														<i class="fa fa-coins igr"></i>
													</div>
													<div class="icons_sid_stat">
														<p>Total Value</p>
														<h2>R {{ total_value }}</h2>
													</div>
												</div>
											</div>
	            				<div class="sing_card card">
	            					<div class="card-body d-flex align-items-center">
	            						<div class="icons_stat">
	            							<i class="fa fa-calendar"></i>
	            						</div>
	            						<div class="icons_sid_stat">
	            							<p>Value Date</p>
	            							<h2>{{ last_updated }}</h2>
	            						</div>
	            					</div>
	            				</div>

	            			</div>
	            		</div>
            		</section>

            		<section class="review_sec_db">
            			<div class="db_container">
		            		<div class="card">
		            			<div class="card-body">
		            				<div class="row">
			            				<div class="col-sm-9">
			            					<div class="card_ttl">
			            						<h3>Holding: Yearly Comparison</h3>
			            					</div>
			            					<div class="chart_line">
		            							<div id="chartdiv_fst" class="chart_clas"></div>
		            						</div>
		            					</div>
			            				<div class="col-sm-3">
			            					<div class="form_graph">
			            						<form [formGroup]="form">
			            							<div class="form-group">
			            								<label>Year (From)</label>
			            								<select class="form-control custom-select">
			            									<option>2011</option>
			            									<option>2012</option>
			            									<option>2013</option>
			            									<option>2014</option>
			            									<option>2015</option>
			            									<option>2016</option>
														</select>
														<mat-form-field appearance="fill">
															<mat-label>Choose a date</mat-label>
															<input matInput [matDatepicker]="picker">
															<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
															<mat-datepicker #picker></mat-datepicker>
														  </mat-form-field>
														  
			            							</div>
			            							<div class="form-group">
			            								<label>Year (From)</label>
			            								<select class="form-control custom-select">
			            									<option>2011</option>
			            									<option>2012</option>
			            									<option>2013</option>
			            									<option>2014</option>
			            									<option>2015</option>
			            									<option>2016</option>
			            								</select>
			            							</div>
			            							<div class="form-group">
			            								<button class="btn btn_theme">View</button>
			            							</div>
			            						</form>
			            					</div>
			            				</div>
		            				</div>
		            			</div>
		            		</div>
            			</div>
            		</section>
            	</div>
        	</div>
        	<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
        	</div>
        </div>
        <div class="main_right_db home_db new_widtt">
    		<div class="marg_over_bread">
        		<section class="review_sec_db">
        			<div class="db_container">
        				<div class="card">
        					<div class="card-body">
	            				<div class="row">
		            				<div class="col-sm-7 pr-0">
		            					<div class="card_ttl">
		            						<h3>Reviews</h3>
		            						<small class="sub_crd">A project is an activity to meet the creation of a unique product or service and thus activities that are undertaken to accomplish routine activities.</small>
		            					</div>
	            						<div class="table-responsive table_seler">
	            							<table class="table table-bordered table-striped">
	            								<thead>
	            									<tr>
	            										<th>S.no</th>
	            										<th>%</th>
	            										<th>Value</th>
	            										<th>Investment Name</th>
	            									</tr>
	            								</thead>
	            								<tbody>
	            									<tr *ngFor="let item of reviews_list;let i=index">
	            										<td>{{ i + 1 }}</td>
	            										<td>{{ item.percentage }}%</td>
	            										<td>R {{ item.totalAmount}}</td>
	            										<td>{{ item.product_name }}</td>
	            									</tr>
	            									<!-- <tr>
	            										<td>2</td>
	            										<td>17.5%</td>
	            										<td>R 35000</td>
	            										<td>Five Two Money Market Fund [ B ]</td>
	            									</tr>
	            									<tr>
	            										<td>3</td>
	            										<td>60%</td>
	            										<td>R 2433000</td>
	            										<td>Foord Flexible FoF B4</td>
	            									</tr>
	            									<tr>
	            										<td>4</td>
	            										<td>13.5%</td>
	            										<td>R 35000</td>
	            										<td>Old Mutual Gold Fund A</td>
	            									</tr>
	            									<tr>
	            										<td>5</td>
	            										<td>20%</td>
	            										<td>R 2433000</td>
	            										<td>Five Two Money Market Fund [ B ]</td>
	            									</tr>
	            									<tr>
	            										<td>6</td>
	            										<td>10%</td>
	            										<td>R 35000</td>
	            										<td>Foord Flexible FoF B4</td>
	            									</tr> -->
	            								</tbody>
	            							</table>
	            						</div>
	            					</div>
		            				<div class="col-sm-5 pl-0">
		            					<div class="card_ttl">
		            						<h3 style="opacity: 0">Some Heading</h3>
		            					</div>
	            						<div class="chart_inside">
	            							<div id="chartdiv_value" class="chart_clas"></div>
	            						</div>
		            				</div>
		            			</div>
	            			</div>
	            		</div>
        			</div>
        		</section>

        		<section class="chart_db_sec">
        			<div class="db_container">
        				<div class="row">
	            			<div class="col-sm-12">
	            				<div class="card">
	            					<div class="card-body">
		            					<div class="card_ttl">
		            						<h3>Number of Products</h3>
		            					</div>
	            						<div class="chart_inside">
	            							<div id="chartdiv_compare" class="chart_clas"></div>
	            						</div>
	            					</div>
	            				</div>
	            			</div>
	            		</div>
        			</div>
        		</section>
        	</div>
    	</div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>
