<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_invstr">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db invstr_db">
        		<section class="bread_top_sec">
        			<div class="db_container">
            			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
            				<div class="sid_controlr">
            					<i class="clos_sid fa fa-bars"></i>
            					<!-- <i class="opn_sid fa fa-times"></i> -->
            				</div>
	            			<h3>Add Risk Profiler</h3>
	            			<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item"><a routerLink="/user/dbInvestment">Investments</a></li>
								    <li class="breadcrumb-item active">Add Risk Profiler</li>
								</ol>
							</nav> -->
	            		</div>
	            	</div>
        		</section>
        		<div class="marg_over_bread">
        			<section class="review_sec_db">
            			<div class="db_container">
            				<div class="row">
	            				<div class="col-sm-12">
		            				<div class="card">
		            					<div class="card-body">
			            					<div class="card_ttl">
			            						<h3>Add Risk Profiler</h3>
			            						<small class="sub_crd">A project is an activity to meet the creation of a unique product or service and thus activities that are undertaken to accomplish routine activities.</small>
			            					</div>
		            						<div class="">
		            							<!-- <mat-horizontal-stepper labelPosition="bottom" linear #stepper (selectionChange)="selectionChange($event)"> -->
												  	
												  	<!-- <mat-step [stepControl]="" > -->
													    <form >
													      	<!-- <ng-template matStepLabel>Risk Profiler</ng-template> -->
													      	<!-- stepper Inner -->
													      	<div class="stepper_cuntnt">
													      		<div class="top_amnt mb-5">
													      			<div class="col-sm-6">
													      				<h6>What is the max amount that you need to withdraw for investment in the following periods?</h6>
													      				<div class="one_div_wrp">
														      				<div class="row align-items-center">
														      					<div class="col-sm-5">
														      						Year 1
														      					</div>
														      					<div class="col-sm-4">
														      						<div class="input-group mb-3">
																				  		<input [(ngModel)]="Year1" [ngModelOptions]="{standalone: true}" required type="text"  class="form-control" #Year1Val="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="0" min="1">
																					  	<div class="input-group-append">
																					    	<span class="input-group-text" id="basic-addon2">%</span>
																					  	</div>
														  		      			<span *ngIf="Year1Val.invalid && (Year1Val.dirty || Year1Val.touched || fifthStep)"
														  								    class="text-danger">
														  								    Invalid Percent
														  								    
														  								</span>
																					</div>
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row align-items-center">
														      					<div class="col-sm-5">
														      						Year 2
														      					</div>
														      					<div class="col-sm-4">
														      						<div class="input-group mb-3">
																				  		<input [(ngModel)]="Year2" [ngModelOptions]="{standalone: true}" required type="text" class="form-control" #Year2Val="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="0">
																					  	<div class="input-group-append">
																					    	<span class="input-group-text" id="basic-addon2">%</span>
																					  	</div>
																				  		<span *ngIf="Year2Val.invalid && (Year2Val.dirty || Year2Val.touched || fifthStep)"
														  								    class="text-danger">
														  								     Invalid Percent
														  								</span>
																					</div>
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row align-items-center">
														      					<div class="col-sm-5">
														      						Year 3
														      					</div>
														      					<div class="col-sm-4">
														      						<div class="input-group mb-3">
																				  		<input [(ngModel)]="Year3" [ngModelOptions]="{standalone: true}" required type="text" class="form-control" #Year3Val="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="0">
																					  	<div class="input-group-append">
																					    	<span class="input-group-text" id="basic-addon2">%</span>
																					  	</div>
																				  		<span *ngIf="Year3Val.invalid && (Year3Val.dirty || Year3Val.touched || fifthStep)"
														  								    class="text-danger">
														  								    Invalid Percent
														  								</span>
																					</div>
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row align-items-center">
														      					<div class="col-sm-5">
														      						Year 4
														      					</div>
														      					<div class="col-sm-4">
														      						<div class="input-group mb-3">
																				  		<input [(ngModel)]="Year4" [ngModelOptions]="{standalone: true}" required type="text" class="form-control" #Year4Val="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="0">
																					  	<div class="input-group-append">
																					    	<span class="input-group-text" id="basic-addon2">%</span>
																					  	</div>
																				  		<span *ngIf="Year4Val.invalid && (Year4Val.dirty || Year4Val.touched || fifthStep)"
														  								    class="text-danger">
														  								    Invalid Percent
														  								</span>
																					</div>
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row align-items-center">
														      					<div class="col-sm-5">
														      						Year 5
														      					</div>
														      					<div class="col-sm-4">
														      						<div class="input-group mb-3">
																				  		<input [(ngModel)]="Year5" [ngModelOptions]="{standalone: true}" required type="text" class="form-control" #Year5Val="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="0">
																					  	<div class="input-group-append">
																					    	<span class="input-group-text" id="basic-addon2">%</span>
																					  	</div>
																				  		<span *ngIf="Year5Val.invalid && (Year5Val.dirty || Year5Val.touched || fifthStep)"
														  								    class="text-danger">
														  								    Invalid Percent
														  								</span>
																					</div>
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row align-items-center">
														      					<div class="col-sm-5">
														      						Year 6
														      					</div>
														      					<div class="col-sm-4">
														      						<div class="input-group mb-3">
																				  		<input [(ngModel)]="Year6" [ngModelOptions]="{standalone: true}" required type="text" class="form-control" #Year6Val="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="0" >
																					  	<div class="input-group-append">
																					    	<span class="input-group-text" id="basic-addon2">%</span>
																					  	</div>
																				  		<span *ngIf="Year6Val.invalid && (Year6Val.dirty || Year6Val.touched || fifthStep)"
														  								    class="text-danger">
														  								    Invalid Percent
														  								</span>
																					</div>
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row align-items-center">
														      					<div class="col-sm-5">
														      						Total
														      					</div>
														      					<div class="col-sm-4">
														      						<div class="input-group mb-3">
																				  		<input [(ngModel)]="YearTotal" [ngModelOptions]="{standalone: true}" type="text" class="form-control" value="" readonly="">
																					  	<div class="input-group-append">
																					    	<span class="input-group-text" id="basic-addon2">%</span>
																					  	</div>
																					</div>
														      					</div>
														      				</div>
														      			</div>
													      			</div>
													      		</div>
													      		<div class="botom_quet mb-3">
													      			<h6>Explanation of how asset allocation is made?</h6>
													      			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
													      			<div class="col-sm-6">
													      				<div class="one_div_wrp">
														      				<div class="row">
														      					<div class="col-sm-5">
														      						Year 1
														      					</div>
														      					<div class="col-sm-7">
														      						Cash
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row">
														      					<div class="col-sm-5">
														      						Year 2
														      					</div>
														      					<div class="col-sm-7">
														      						Multi Asset-Income
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row">
														      					<div class="col-sm-5">
														      						Year 3
														      					</div>
														      					<div class="col-sm-7">
														      						Multi Asset-Low Equity
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row">
														      					<div class="col-sm-5">
														      						Year 4
														      					</div>
														      					<div class="col-sm-7">
														      						Multi Asset-High Equity
														      					</div>
														      				</div>
														      			</div>
														      			<div class="one_div_wrp">
														      				<div class="row">
														      					<div class="col-sm-5">
														      						Year 5
														      					</div>
														      					<div class="col-sm-7">
														      						Equity
														      					</div>
														      				</div>
														      			</div>
													      			</div>
													      		</div>
													      		<div class="row">
													      			<div class="col-sm-6">
													      				<div class="form-group">
													      					<label>Client Signature</label>
													      					<ng-signature-pad doneButtonText="Save Sign" format="base64" [emitOnDragEnd]="true" (done)="RiskClientSignUpload($event)" [showClearButton]="hide" [showDoneButton]="hide">
																			</ng-signature-pad>
													      				</div>
													      			</div>
													      			<div class="col-sm-6">
													      				<div class="form-group">
													      					<label>Advisor Signature</label>
													      					<ng-signature-pad
																			  doneButtonText="Save Sign" format="base64" [emitOnDragEnd]="true" (done)="RiskAdvisorSignUpload($event)" [showClearButton]="hide" [showDoneButton]="hide">
																			</ng-signature-pad>
													      				</div>
													      			</div>	
													      		</div>
													      	</div>
													      	<div class="form-group text-right">
													      	    <div class="pos_rel log_sgn_btn">
													      	        <a (click)="add()" href="javascript:;" class="btn btn_theme sgnup_btn"> Save  </a>
													      	    </div>
													      	</div>
													      	<!-- stepper Inner /-->
													      	<!-- <div class="d-flex justify-content-between"> -->
													        	<!-- <button type="button" mat-raised-button class="btn_back_stppr" matStepperPrevious>Back</button> -->
													        	<!-- <button mat-raised-button type="button" color="primary">Done</button> -->
													        	<!-- <button (click)="fifthForm()" mat-raised-button type="button" color="primary">Done</button> -->
													      	<!-- </div> -->
													    </form>
												  	<!-- </mat-step> -->
												  	<!-- change default 'edit' icon -->
											  	    <!-- <ng-template matStepperIcon="done" let-index="index"> -->
											  	    	<!-- <span style="background-color: green;"> -->
											  	    		<!-- <mat-icon> -->
											  	    	<!-- {{index +1}} -->
											  	    		<!-- </mat-icon> -->
											  	    	<!-- </span> -->
											  	    <!-- </ng-template> -->
											  	    <!-- <ng-template matStepperIcon="edit" let-index="index"> -->
											  	    	<!-- <span style="background-color: orange;"> -->
											  	    	<!-- {{index +1}} -->
											  	    	<!-- </span> -->
											  	    <!-- </ng-template> -->
												<!-- </mat-horizontal-stepper> -->
		            						</div>		
		            					</div>
		            				</div>
		            			</div>
		            		</div>
            			</div>
            		</section>
            	</div>
        	</div>
        	<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
        	</div>
        </div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>

