<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_tasks_lst">
		<div class="combine_sidenav_right_db d-flex">
			<div class="main_right_db invest_db">
				<section class="bread_top_sec">
					<div class="db_container">
						<div class="d-flex justify-content-between align-items-center text-white pos_rel">
							<div class="sid_controlr">
								<i class="clos_sid fa fa-bars"></i>
								<!-- <i class="opn_sid fa fa-times"></i> -->
							</div>
							<h3>Add Task</h3>
							<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item active">Tasks List</li>
								</ol>
							</nav> -->
						</div>
					</div>
				</section>
				<div class="marg_over_bread">

					<section class="tskzz_lst_sec">
						<div class="db_container">
							<div class="row">
								<div class="col-sm-12">
									<div class="card">
										<div class="card-body">
											<div class="form_taskAdd">
												<div class="col-sm-8 offset-sm-2">
													<form [formGroup]="form" (ngSubmit)="submit()">
														<div class="form-group">
															<label>Date</label>
															<div class="pos_rel">
																<input type="text" formControlName="date"
																	class="form-control" placeholder="" disabled='true'>
															</div>
															<!-- <span *ngIf="date.invalid && (date.dirty || date.touched) || submit_button"
																class="text-danger">
																<span *ngIf="date.errors?.required">
																	This field is required.
																</span>
															</span> -->
														</div>
														<div class="form-group">
															<label>Follow Up Date</label>
															<div class="pos_rel">
																<mat-form-field appearance="fill">
																	<input matInput disabled="true" [matDatepicker]="pickerFrom"
																	  [(ngModel)]="follow_up_date" (dateChange)="addEvent('change', $event)" [ngModelOptions]="{standalone: true}">
																	<mat-datepicker-toggle matSuffix [for]="pickerFrom">
																	</mat-datepicker-toggle>
																	<mat-datepicker #pickerFrom disabled="false"></mat-datepicker>
																</mat-form-field>
																<span
																	*ngIf="!follow_up_date && submit_button"
																	class="text-danger">
																		This field is required.
																</span>
															</div>
														</div>
														<div class="form-group">
															<label>Subject</label>
															<div class="pos_rel">
																<input type="text" formControlName="subject"
																	class="form-control" placeholder="Subject Here">
																<span
																	*ngIf="subject.invalid && (subject.dirty || subject.touched) || submit_button"
																	class="text-danger">
																	<!-- formField.password.errors?.required -->
																	<span *ngIf="subject.errors?.required">
																		This field is required.
																	</span>
																	<span *ngIf="subject.errors?.pattern">
																		Invalid subject.
																	</span>
																</span>
															</div>
														</div>
														<div class="form-group">
															<label>Description</label>
															<div class="pos_rel">
																<textarea rows="4" formControlName="description"
																	placeholder="write descrption . . ."
																	class="form-control"></textarea>
																<span
																	*ngIf="description.invalid && (description.dirty || description.touched) || submit_button"
																	class="text-danger">
																	<span *ngIf="description.errors?.required">
																		This field is required.
																	</span>
																	<span *ngIf="description.errors?.pattern">
																		Invalid description.
																	</span>
																</span>
															</div>
														</div>
														<div class="form-group">
															<label>Status</label>
															<div class="pos_rel">
																<select class="custom-select" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
																	<option value="completed">Completed</option>
																	<option value="in_progress">In Progress</option>
																</select>
															</div>
														</div>
														<div class="form-group text-right">
															<button (click)="submit()" type="button"  class="btn btn_theme">Submit</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
			</div>
		</div>
	</section>
	<!-- footer starts -->
	<!-- <app-footer></app-footer> -->
	<!-- footer ends -->
</div>