<!-- Header -->
<app-header></app-header>
<!-- Header ends -->
<!-- <mat-spinner></mat-spinner> -->

<div class="wrapper_shala priv_page">
    <section class="top_cms_pag">
        <div class="container">
            <div class="top_wrp_cms">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>
        </div>
    </section>

    <section class="about_contnt">
        <div class="container">
            <div class="abot_inner">
            	
			    <div class="row">
				
			
					<div class="col-sm-4">
						<div class="page-img-div">
							<img src="https://i.ytimg.com/vi/rObDvHKL6bg/maxresdefault.jpg" class="img-fluid">
							<div class="team-heading">
								<h5 class="title-head white-para"><br> 
									<div class="title-heading-divider"></div>
									<small>Five Two - CEO</small>
								</h5>	
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="para-div white-para no-pad">
						    <p>The needs of a retired person are far greater than that of any other. As a retired person, your capital needs to grow while drawing down an income. My investment strategy has been working. My retired clients have experienced 14% p.a. growth in their portfolios (after fees) from 2012-2018. I was approached by the founding director of the brokerage I worked for and was encouraged to open my own investment brokerage, as their focus was insurance. This is how Five Two Investments started and my assets under management have grown by over 500% in the 5 years we’ve been in business. </p>

						    <p> You can't have people making decisions Then we can agree on what kind of data to get; we get the data; and the data solves the problem I think that intelligence is such a narrow branch of the tree It can be considered intelligent be all that important for survival There are so many animals that don't have what we call intelligence t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, s</p>

							<p>- The FiveTwo Team</p>
					    </div>
					</div>
				</div>

            </div>
        </div>
	</section>

	<section class="get_app_store">
		<div class="custom_container">
			<div class="wrap_app_iner text-center">
				<h1 class="text-uppercase">Get FiveTwo investment in your Phone.</h1>
				<p class="text-uppercase">Download the App Free for Android and iOS</p>
				<div class="img_stor d-flex justify-content-center">
					<img src="assets/img/aps.webp" class="img-fluid">
					<img src="assets/img/pls.webp" class="img-fluid">
				</div>
			</div>
		</div>
	</section>

    <!-- footer starts -->
    <app-footer></app-footer>
    <!-- footer ends -->
</div>