<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_welcum">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db invest_db">
        		<section class="bread_top_sec">
        			<div class="db_container">
            			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
            				<div class="sid_controlr">
            					<i class="clos_sid fa fa-bars"></i>
            					<!-- <i class="opn_sid fa fa-times"></i> -->
            				</div>
	            			<h3>Welcome Letter</h3>
	            			<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item active">Welcome Letter</li>
								</ol>
							</nav> -->
	            		</div>
	            	</div>
        		</section>
        		<div class="marg_over_bread">
            		<section class="wlcm_letr_sec p-0">
            			<div class="db_container">
            				<div class="row">
	            				<div class="col-sm-12">
		            				<div class="card">
		            					<div class="card-body">
			            					<div class="card_ttl">
			            						<h3>Welcome Letter</h3>
			            					</div>
		            						<div class="welcom_letter_wrp">
		            							<div class="letr_head_logo">
		            								<img src="assets/img/logo.png" class="img-fluid">
		            							</div>
		            							<small class="dat_wlcm">10/11/2020</small>
												<h6>
													Welcome Letter Mrs C Matthias
												</h6>
												<div class="wrp_wlcm_para_li">
													<p>We welcome you to the Five Two Investment family. We thank you for your business and would like to confirm that the following investments have been placed under our care:</p>
													<ul type="none">
														<li>1. Investec Bond - Unit Trust(52.........)</li>
														<li>Inception Date: 04 December 2019</li>
														<li>Intial Deposit: R900,000.00</li>
														<p>Fund Allocation: </p>
														<li>50% Prescient Income Provider Fund</li>
														<li>25% Coronation Strategic Income Fund</li>
														<li>25% Old Mutual Gold Fund</li>
														<p>The above money came from your father's inheritance.</p>
													</ul>
													<p>Please take note of the risk profiler completed, as your investments have their fund allocation based on your needs. Therefore, please keep us informed on major changes in your life that could possibly affect this, in order for us to make the necessary changes.</p>
													<p>Note: As discussed, we have an annual fee of 1% +vat and an upfront fee of 1% +vat on all investments managed by Five Two Investments.</p><br>
													<p>Past performance is not an indication of future performance.</p>
													<p>Please scrutinize your policy schedule and inform us of any incorrect information.</p>
												</div>
		            						</div>
		            					</div>
		            				</div>
		            			</div>
		            		</div>
            			</div>
            		</section>
            	</div>
        	</div>
        	<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
        	</div>
        </div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>