<!-- Header -->
<app-db-header></app-db-header>
<!-- Header ends -->

<div class="wrapper_shala wrapper_db">
	<section class="outer_db_wraper db_main_invstr">
    	<div class="combine_sidenav_right_db d-flex">
        	<div class="main_right_db invstr_db">
        		<section class="bread_top_sec">
        			<div class="db_container">
            			<div class="d-flex justify-content-between align-items-center text-white pos_rel">
            				<div class="sid_controlr">
            					<i class="clos_sid fa fa-bars"></i>
            					<!-- <i class="opn_sid fa fa-times"></i> -->
            				</div>
	            			<h3>Add Disclosure for {{ DisclosureName }}</h3>
	            			<!-- <nav class="bread_nav_sec">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item"><a href="#">Home</a></li>
								    <li class="breadcrumb-item">Dashboard</li>
								    <li class="breadcrumb-item"><a routerLink="/user/clientProfile">Client Profile</a></li>
								    <li class="breadcrumb-item active">Add Disclosure</li>
								</ol>
							</nav> -->
	            		</div>
	            	</div>
        		</section>
        		<div class="marg_over_bread">
        			<section class="review_sec_db">
            			<div class="db_container">
            				<div class="row">
	            				<div class="col-sm-12">
		            				<div class="card">
		            					<div class="card-body">
			            					<!-- <div class="card_ttl">
			            						<h3>Add Disclosure</h3>
			            						<small class="sub_crd">A project is an activity to meet the creation of a unique product or service and thus activities that are undertaken to accomplish routine activities.</small>
											</div> -->
											<form class="formm">
												<div class="row">
													<div class="col-sm-12 float-right">
														<div class="form-group text-right">
															<a href="javascript:;" (click)="goBack()" class="btn btn_theme">Back</a>
														</div>
													</div>
												
													
												</div>
											</form>
		            						<div class="table-responsive table_seler">
		            							<!-- <mat-horizontal-stepper labelPosition="bottom" linear #stepper (selectionChange)="selectionChange($event)"> -->
												  	
												  	<!-- <mat-step [stepControl]="" > -->
													   
													    <!-- <form [formGroup]="form3"> -->
													      	<!-- <ng-template matStepLabel>Disclosure</ng-template> -->
													      	<!-- stepper Inner -->
													      	<div class="stepper_cuntnt">
													      		<div class="col-sm-10 offset-sm-1">
													      			<div class="outr_boundry_disclos">
																		<form class="example-form">
                                                                            <!-- <mat-form-field class="example-full-width">
                                                                              <mat-label>Company (disabled)</mat-label>
                                                                              <input matInput disabled value="Google">
                                                                            </mat-form-field> -->
                                                                            
                                                                            <div class="span_img">
                                                                                <img style="height: 100px;width: 100px;" _ngcontent-yyc-c5="" class="img-fluid" src="{{ profile_image ? profile_image : 'assets/img/maxresdefault.jpg' }}">
                                                                                <span class="inpt_ico"><i class="fa fa-pencil"></i>
                                                                                    <input class="form_inpt" (change)="changeFile($event)" name="" type="file">
                                                                                </span>
                                                                            </div>

                                                                           
                                                                            <table class="example-full-width" cellspacing="0"><tr>
                                                                              <td><mat-form-field class="example-full-width">
                                                                                <mat-label>Full Name</mat-label>
                                                                                <input matInput [formControl]="nameFormControl" [(ngModel)]="broker_details.full_name">
                                                                                <mat-error *ngIf="nameFormControl.hasError('required')">
                                                                                    Name is required
                                                                                  </mat-error>
                                                                              </mat-form-field>                                                                              
                                                                              
                                                                            </td>
                                                                              <td><mat-form-field class="example-full-width">
                                                                                <mat-label>Contact Number</mat-label>
                                                                                <input matInput [formControl]="contactFormControl" [(ngModel)]=" broker_details.contact_number">
                                                                                <mat-error *ngIf="contactFormControl.hasError('required')">
                                                                                    Contact number is required
                                                                                </mat-error>
                                                                                <mat-error *ngIf="contactFormControl.hasError('pattern')">
                                                                                    Invalid Contact number
                                                                                </mat-error>
                                                                              </mat-form-field>
                                                                              
                                                                            </td>
                                                                            </tr></table>

                                                                            <p>
                                                                                <mat-form-field class="example-full-width">
                                                                                  <mat-label>Email</mat-label>
                                                                                  <input matInput [formControl]="emailFormControl" [(ngModel)]="broker_details.email" placeholder="Email"/>
                                                                                  <mat-error *ngIf="emailFormControl.hasError('email')">
                                                                                    Please enter a valid email address
                                                                                  </mat-error>
                                                                                  <mat-error *ngIf="emailFormControl.hasError('required')">
                                                                                    Email is required
                                                                                  </mat-error>
                                                                                </mat-form-field>
                                                                               
                                                                              </p>

                                                                            <table class="example-full-width" cellspacing="0"><tr>
                                                                              <td><mat-form-field class="example-full-width">
                                                                                <mat-label>Old Password</mat-label>
                                                                                <input matInput type="password" [formControl]="passwordFormControl" [(ngModel)]="old_password" placeholder="Password">
                                                                                <mat-error *ngIf="old_passwordFormControl.hasError('required')">
                                                                                    Old password is required
                                                                                  </mat-error>
                                                                              </mat-form-field></td>
                                                                              <td><mat-form-field class="example-full-width">
                                                                                <mat-label>Password</mat-label>
                                                                                <input matInput type="password" [formControl]="passwordFormControl" [(ngModel)]="password" placeholder="Password">
                                                                                <mat-error *ngIf="passwordFormControl.hasError('required')">
                                                                                    Password is required
                                                                                  </mat-error>
                                                                              </mat-form-field></td>
                                                                              <td><mat-form-field class="example-full-width">
                                                                                <mat-label >Confirm Password</mat-label>
                                                                                <input matInput type="password" [formControl]="confirm_passwordFormControl" [(ngModel)]="confirm_password" placeholder="Confirm Password">
                                                                                <mat-error *ngIf="confirm_passwordFormControl.hasError('required')">
                                                                                    Confirm Password is required
                                                                                  </mat-error>
                                                                              </mat-form-field></td>
                                                                            </tr></table>                                                                         
                                                                            
                                                                            <div class="text-center">
                                                                                <button mat-raised-button (click)="editBrokerProfile()" color="primary">Save</button>
                                                                            </div>
                                                                          </form>
                                                                          
													      			</div>
													      		</div>
													      	</div>
		            						</div>		
		            					</div>
		            				</div>
		            			</div>
		            		</div>
            			</div>
            		</section>
            	</div>
        	</div>
        	<div class="sidenav_db">
				<app-db-sidebar></app-db-sidebar>
        	</div>
        </div>
    </section>
    <!-- footer starts -->
    <!-- <app-footer></app-footer> -->
    <!-- footer ends -->
</div>

