.img-ID_up {
    img {
        width:150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
    }
}
.img-ID_up.multi_sign {
    img {
        width:250px;
        height: 150px;
    }
}